# SerpAPI Configuration
# Get your API key from: https://serpapi.com/
SERP_API_KEY=ead25f79d358cbb5f6c7dafaec769c740a53958d20462440d592f757ebcaf297

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=1
